.resume-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume-container p {
    font-size: 12px;
}

.resume-container li {
    font-size: 14px;
}

.experience-item, .misc-item {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.experience-title, .misc-title {
    width: 40%;
}

.experience-desc, .misc-desc {
    margin-right: 0;
    padding-top: 5px;
    width: 60%;
}

.misc-container p {
    font-size: 12px;
}