{{ define "main" }}
    <main class="post">

        <div class="post-info">
            {{ if .IsTranslated }}
                {{ i18n "postAvailable" }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                {{ end}}
            {{ end }}
            </p>
        </div>

        <div class='resume-container'>
            <div class='experience-container'>
                <h2 class='resume-heading'>Education</h2>
                <hr/>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Georgetown University</h4>
                        <p>GPA: 3.84<br>
                        Graduated Cum Laude<br>
                        Aug 2015 - May 2019</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>B.S. in Foreign Service, Minor in Japanese</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Waseda University</h4>
                        <p>Mar 2018 - Aug 2019</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>School of International Liberal Studies</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Father Duenas</h4>
                        <p>Aug 2011 - May 2015</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>High School - Valedictorian</h5>
                        <p>Long desc</p>
                    </div>
                </div>
            </div>
            <div class='experience-container'>
                <h2 class="resume-heading">Professional Experience</h2>
                <hr/>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Appian</h4>
                        <p>Aug 2019 - Present</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>Quality Engineer</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Georgetown University <br>
                        - ESCAPE Program</h4>
                        <p>May 2018 - April 2019</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>Student Coordinator</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Georgetown University <br>
                        - University Information Services</h4>
                        <p>Aug 2019 - Present</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>Student Technology Consultant</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Adobe</h4>
                        <p>Feb 2018 - March 2018 <br>
                        Sept 2018 - Dec 2018</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>Government Relations Intern</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Georgetown University <br>
                        - Dept. of East Asian Languages and Cultures</h4>
                        <p>May 2016 - April 2018</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>Research Assistant</h5>
                        <p>Long desc</p>
                    </div>
                </div>
                <div class='experience-item'>
                    <div class='experience-title'>
                        <h4>Government of Guam<br>
                        - Multiple Offices</h4>
                        <p>May 2016 - April 2018</p>
                    </div>
                    <div class='experience-desc'>
                        <h5>Legislative Analyst | Congressional Intern</h5>
                        <p>Long desc</p>
                    </div>
                </div>
            </div>
            <div class='misc-container'>
                <h2 class='resume-heading'>Skills</h2>
            </div>
            <div class='misc-container'>
                <h2 class='resume-heading'>Activities and Hobbies</h2>
            </div>
        </div>

    </main>
{{ end }}
